<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main.loading
		#page-wr
			include inc/header.jade
			#content
				.content
					.main-screen
						.main-screen__slider
							figure.img.img--1
								img(src="img/photos/img-1.jpg", alt="")
								figcaption.img__text
									.wrapper
										.text
											.text__text
												p Спасибо, что доверяете нам <a href="#">свои&nbsp;проекты.</a> Они вдохновляют нас работать еще лучше.
											.text__btn
												a.play-btn.fancybox(href="https://www.youtube.com/embed/2u7R6pOZoPY")
													canvas.play-btn__btn(width="80" height="80")
													span.play-btn__text Смотреть видео
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg.html
											.text2__text
												.text2__text-title Вывески
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! 
													p Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-2.html
											.text2__text
												.text2__text-title Крышные установки
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-3.html
											.text2__text
												.text2__text-title Рекламные стелы
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-4.html
											.text2__text
												.text2__text-title Реклама на автомобилях
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							figure.img.img--2
								img(src="img/photos/img-2.jpg", alt="")
								.img__text2
									.text2
										.main-wrapper
											figure.text2__svg
												include inc/svg-5.html
											.text2__text
												.text2__text-title Оформление витрин
												.text2__text-text
													p Правильный выбор вывески – это ключ к успеху вашего бизнеса! Вывеска – уникальное «лицо» вашего магазина, офиса, ресторана, салона красоты или кафе на улицах большого города. Уделяя должное внимание вывеске, вы инвестируете в развитие и процветание вашего бизнеса.
												.text2__text-link
													a.link-more(href="#") Подробнее
							.img-slider__dots
								a.all-services(href="#") Все услуги
						.main-screen__footer
							.main-screen__footer-soc
								.soc-list
									each soc in ["Вконтакте", " Facebook ", "Instagram", ]
										.soc-list__one
											a(href="#")=soc
							.main-screen__footer-contacts
								.contact
									address.contact__phone
										a(href="tel: 343 200-90-91") 343 200-90-91
									.contact__btn
										a.default-btn.default-btn--arrow.fancybox(href="#") Написать
					.img.img--3
						img(src="img/photos/img-3.jpg")
						nav.top-nav
							ul.top-nav__menu
								li.active
									a.top-nav__menu-link(href="#") Все
								each title, i in ["Вывески ", "Крышные установки", "Рекламные стеллы", "Реклама на автомобилях", "Выставочные стенды", ]
									if i == 2
										li
											a.top-nav__menu-link(href="#", data-count="4")=title
									else
										li
											a.top-nav__menu-link(href="#")=title
						.main-wrapper
							.main-port
								each port, i in [{title: "Оформление входной группы", sibtitle: "Ресторан 10 dieci"}, {title: "Объемные буквы из нержавеющей стали (золото), контражурная подсветка", sibtitle: "Объемные буквы LIU JO"}, {title: "Оформление входной группы", sibtitle: "Ресторан 10 dieci"}, {title: "Объемные буквы из нержавеющей стали (золото), контражурная подсветка", sibtitle: "Объемные буквы LIU JO"}, ]
									a.main-port__one(href="#")
										.port-one
											.port-one__desc
												.port-one__title=port.title
												.port-one__subtitle=port.sibtitle
											figure.port-one__img
												img(src="img/photos/bot-img-"+(i+1)+".jpg", alt=port.title)
							.main-port__link
								a.link-more(href="#") Понравились работы? У нас есть ещё
						.main-about__cont
							.main-wrapper
								.main-about
									.main-about__text
										.text-page
											p Рекламно-производственная группа "Индустрия рекламы" оказывает услуги по изготовлению наружной рекламы в Екатеринбурге и УрФО.<br />	Компания имеет собственные производственные мощности, что позволяет значительно сокращать затраты и несомненно, сказывается на конечной <br /> cтоимости. Мы всегда предлагаем высокое качество и конкурентные цены!
											p Рекламно-производственная группа "Индустрия рекламы" оказывает услуги по изготовлению наружной рекламы в Екатеринбурге и УрФО.<br />	Компания имеет собственные производственные мощности, что позволяет значительно сокращать затраты и несомненно, сказывается на конечной <br /> cтоимости. Мы всегда предлагаем высокое качество и конкурентные цены!
											p Рекламно-производственная группа "Индустрия рекламы" оказывает услуги по изготовлению наружной рекламы в Екатеринбурге и УрФО.<br />	Компания имеет собственные производственные мощности, что позволяет значительно сокращать затраты и несомненно, сказывается на конечной <br /> cтоимости. Мы всегда предлагаем высокое качество и конкурентные цены!
											p Рекламно-производственная группа "Индустрия рекламы" оказывает услуги по изготовлению наружной рекламы в Екатеринбурге и УрФО.<br />	Компания имеет собственные производственные мощности, что позволяет значительно сокращать затраты и несомненно, сказывается на конечной <br /> cтоимости. Мы всегда предлагаем высокое качество и конкурентные цены!
									.main-about__more
										button.main-about__more-btn(title="Подробнее")
						include inc/footer.jade
		include inc/scripts.jade